mixin banner(additionalClass)
  .banner(class=additionalClass)
    .banner__header Выбираем новогодние подарки <br>вместе!
    .banner__discount скидка
      span.banner__discount-amount 10%
    img.banner__picture(src="img/banner.jpg", alt="Parfume")