mixin banner(additionalClass)
  .banner(class=additionalClass)
    .banner__header Выбираем новогодние подарки вместе!
    .banner__discount скидка 10%
      span.banner__discount-amount 10%
    img.banner__picture(src="img/banner.jpg", alt="Parfume")