mixin sitemap(additionalClass)
  .sitemap(class=additionalClass)
    .sitemap__item
      .sitemap__item-header Сервис
      .sitemap__item-list
        a.sitemap__item-link.sitemap__item-link--social.sitemap__item-link--vk(href="#") Вконтакте
        a.sitemap__item-link.sitemap__item-link--social.sitemap__item-link--fb(href="#") Facebook
        a.sitemap__item-link.sitemap__item-link--social.sitemap__item-link--tw(href="#") Twitter
        a.sitemap__item-link.sitemap__item-link--social.sitemap__item-link--go(href="#") Google+
    .sitemap__item
      .sitemap__item-header Сервис
      .sitemap__item-list
        a.sitemap__item-link(href="#") Доставка
        a.sitemap__item-link(href="#") Контакты
        a.sitemap__item-link(href="#") Договор оферты
        a.sitemap__item-link(href="#") Качество и сертификаты
        a.sitemap__item-link(href="#") Возврат
    .sitemap__item
      .sitemap__item-header Сервис
      .sitemap__item-list
        a.sitemap__item-link(href="#") Главная
        a.sitemap__item-link(href="#") Все бренды
        a.sitemap__item-link(href="#") Рапродажа
    .sitemap__item
      .sitemap__item-header Сервис
      .sitemap__item-list
        a.sitemap__item-link(href="#") Акции
        a.sitemap__item-link(href="#") Must Have