mixin alphabet(additionalClass)
  .alphabet(class=additionalClass)
    a.alphabet__header(href="#") Торговые дома по алфавиту
    .alphabet__content
      a.alphabet__letter(href="#") A
      a.alphabet__letter(href="#") B
      a.alphabet__letter(href="#") C
      a.alphabet__letter(href="#") D
      a.alphabet__letter(href="#") E
      a.alphabet__letter(href="#") F
      a.alphabet__letter(href="#") G
      a.alphabet__letter(href="#") H
      a.alphabet__letter(href="#") I
      a.alphabet__letter(href="#") J
      a.alphabet__letter(href="#") K
      a.alphabet__letter(href="#") L
      a.alphabet__letter(href="#") M
      a.alphabet__letter(href="#") N
      a.alphabet__letter(href="#") O
      a.alphabet__letter(href="#") P
      a.alphabet__letter(href="#") Q
      a.alphabet__letter(href="#") R
      a.alphabet__letter(href="#") S
      a.alphabet__letter(href="#") T
      a.alphabet__letter(href="#") U
      a.alphabet__letter(href="#") V
      a.alphabet__letter(href="#") W
      a.alphabet__letter(href="#") X
      a.alphabet__letter(href="#") Y
      a.alphabet__letter(href="#") Z