include ../blocks/header/header.pug
include ../blocks/logo/logo.pug
include ../blocks/phone/phone.pug
include ../blocks/enter/enter.pug
include ../blocks/menu/menu.pug
include ../blocks/input/input.pug
include ../blocks/button/button.pug
include ../blocks/banner/banner.pug
include ../blocks/top-bar/top-bar.pug
include ../blocks/alphabet/alphabet.pug
include ../blocks/search/search.pug
include ../blocks/comment/comment.pug
include ../blocks/delivery/delivery.pug
include ../blocks/sitemap/sitemap.pug
include ../blocks/copyright/copyright.pug
include ../blocks/wrapper/wrapper.pug
include ../blocks/catalog/catalog.pug
include ../blocks/categories/categories.pug
include ../blocks/item/item.pug
