mixin copyright(additionalClass)
  footer.copyright(class=additionalClass)
    .copyright__header © enigme.ru
    .copyright__content Все права на материалы представленные на сайте принадлежат enigme.ru. Копирование информации запрещено. (Энигме.ру)