mixin search(additionalClass)
  .search(class=additionalClass)
    .search__header Поиск аромата
    form.search__form(action="#", method="post")
      input.input.search__input(type="text")
      button.button искать