mixin menu(additionalClass)
  .menu(class=additionalClass)
    a.menu__item(href="#") Парфюмерия
    a.menu__item(href="#") Распродажа
    a.menu__item(href="#") Эксклюзив
    a.menu__item(href="#") Акции
    a.menu__item(href="#") Качество и сертификаты
    a.menu__item(href="#") Возврат
    a.menu__item(href="#") Доставка
    a.menu__item(href="#") Контакты